:root{
    --level-1-font-size: 56px;
    --level-1-hght-size: 72px;

    --big-font-size: 18px;
    --big-hght-size: 22px;

    --mid-font-size: 16px;
    --mid-hght-size: 20px;

    --sml-font-size: 14px;
    --sml-hght-size: 28px;
}




